body{
    background-image: url("TRIUMPH-TIGER_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: rgba(218, 218, 217, 0.952);
}
.boatao{
    background-color: rgb(181, 182, 182);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}